.register-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .form-container {
        max-width: 800px; /* o el valor que prefieras */
         margin: 0 auto;
         width: 100%;
    }


    .custom-item {
        --border-color: #ccc;
        --highlight-color: #007BFF;
        margin-bottom: 1rem;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
        --background: black; // fondo oscuro para el input
        --color: #fff; // color de texto blanco

        ion-label {
            color: #bbb; // cambia el color del texto flotante
        }

        ion-input {
            color: #fff; // texto ingresado
            --placeholder-color: #888; // opcional, para el placeholder
        }
    }

    .recordar-item {
        margin-top: 0.5rem;
        margin-bottom: 1.2rem;
        font-size: 0.9rem;
        --ion-color-primary: #007BFF;
        --background: #000; // fondo negro
        --color: #fff; // texto blanco

        ion-label {
            color: #fff;
        }

        ion-checkbox {
            --background: #222;
            --border-color: #fff;
        }
    }

    .boton-register {
        --background: #227003;
        --color: #fff;
        border-radius: 6px;
        box-shadow: 0 4px 12px rgba(0, 123, 255, 0.3);
        font-weight: 600;
    }



    .enlace-registro {
        margin-top: 1.5rem;
        font-size: 0.9rem;

        a {
            color: #2bff00;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .titulo-vision {
        font-family: 'Michroma', sans-serif;
        text-align: center;
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: 2rem;
        margin-top: 8rem;
        color: #e0d5d5;
        letter-spacing: 1.5px;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .input-bg {
        --background: transparent;
        --color: #e0e0e0;
        color: #e0e0e0 !important;
    }
}