<ion-content class="ion-padding register-content">
  <div class="titulo-vision">PlagueCams</div>
  <form class="form-container">

    <ion-item class="custom-item">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" formControlName="nombre" required></ion-input>
    </ion-item>

    <ion-item class="custom-item">
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" formControlName="apellido" required></ion-input>
    </ion-item>

    <ion-item class="custom-item">
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="email" formControlName="email" required></ion-input>
    </ion-item>

    <ion-item class="custom-item">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" class="boton-register">Registrarse</ion-button>
  </form>

  <div class="ion-text-center enlace-registro">
    <ion-text>
      ¿Ya tienes una cuenta?
      <a>Inicia sesión aquí</a>
    </ion-text>
  </div>
</ion-content>